.anchor {
  color: aliceblue;
}
#list {
  color: aliceblue;
  border: solid 2px;
  border-color: cadetblue;
}
#num {
  border: solid 1px;
  border-color: cadetblue;
}
.personajes {
  color: aquamarine;
}
.planetas {
  color: aquamarine;
}
.vehiculos {
  color: aquamarine;
}
.card {
  color: antiquewhite;
}
.carousel-container {
  overflow-y: auto;
  white-space: nowrap;
  padding: 1rem 0;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
}

.card-body {
  overflow: hidden;
}

.card-title,
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like {
  max-width: 25px;
  height: 25px;
}
