.anchor {
  color: aliceblue;
}
#list {
  color: aliceblue;
  border: solid 2px;
  border-color: cadetblue;
}
#num {
  border: solid 1px;
  border-color: cadetblue;
}
.personajes {
  color: aquamarine;
}
.planetas {
  color: aquamarine;
}
.vehiculos {
  color: aquamarine;
}
.card {
  color: antiquewhite;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel-item {
  scroll-snap-align: start;
  block-size: 100px;
}
.like{
  width: 40px;
  height: 40px;
}